@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
#portrait {
  width: 300px;
  height: 330px;
  margin: 2em;
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
}

a h1:hover {
  text-decoration: underline;
}

a img {
  border: 3px #444 solid;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 4em;
}

.title {
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  vertical-align: middle;
}

.section {
  text-align:center;
  position: relative;
}

.scroll_down {
  color: white;
  letter-spacing: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 1em;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
  position:fixed;
  height: 50px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

#header{
  top:0px;
}
#footer{
  bottom:0px;
}

.screenshot {
  margin-top: 2em;
  height: 340px;
}

.description {
  margin-top: 1em;
}

.white {
  color: white;
}

.white a:link {
    color: #00FF00;
}

/* visited link */
.white a:visited {
    color: #FF00FF;
}

/* mouse over link */
.white  a:hover {
    color: #FF0000;
}

/* selected link */
.white a:active {
    color: cyan;
}

#contact_info, #bio {
  margin: 0 auto;
  margin-top: 1em;
  display: inline-block;
}

.contact_info, .bio {
  text-align: left;
}

.bio {
  margin-left: 2em;
  margin-right: 2em;
}

@media (min-width: 0px) and (max-width: 660px) {
  #header, #footer, .scroll_down {
    visibility: hidden;
  }

  #section2 h1 {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em;
  }

  .slide h1 {
    font-size: 3em;
  }

  .screenshot {
    height: 170px;
  }

  .bio {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
  }

}

@media (min-width: 0px) and (max-width: 440px) {
  .slide h1 {
    font-size: 2em;
  }

  .screenshot {
    height: 100px;
  }

  .bio {
    font-size: 1.2em;
  }
}
