@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
#portrait {
  width: 300px;
  height: 330px;
  margin: 2em;
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 0.7em;
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  vertical-align: middle;
}

.scroll_down {
  color: white;
  letter-spacing: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 1em;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
}

.section {
  text-align:center;
  position: relative;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
  position:fixed;
  height: 50px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

#header{
  top:0px;
}
#footer{
  bottom:0px;
}

@media (min-width: 0px) and (max-width: 660px) {
  #header, #footer, .scroll_down {
    visibility: hidden;
  }

}

